body {
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #EB5757;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 0.75em;
  overflow: hidden;
}

.caption {
  font-size: 1.2em;
  font-weight: bold;
}

.card {
  height: 400px;
}

.image {
  max-height: 200px;
  min-height: 200px;
  max-width: 100%;
}

.card-content {
  max-height: 200px;
  min-height: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2%;
  width: 90%;
}

@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}

@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}
