body {
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
}

nav, .background {
  background-color: #EB5757;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 0.7em;
  overflow: hidden;
}

span {
  font-size: 1.2em;
  font-weight: 900;
}

.card {
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.image {
  max-height: 150px;
  min-height: 150px;
}

.card-content {
  max-height: 150px;
  min-height: 150px;
}

.card .card-content {
  padding: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2%;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }

  .sidenav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
